/**
* VARIABLES
*/

// Fonts
$font-stack: 'Roboto', 'Helvetica', sans-serif;

// Colors
$grey: #D9D9D9;
// $dark-blue: #3E4E59;
// $red: #F25652;
// $grey-light: #D5D5D5;
// $grey: #BCBCBD;
// $yellow-bird: #F3C136;
// $white: #F1F0E2;

// $theme-colors: (
//     "primary": #F9AA33,
//     "danger": #F25652,
//     "dark": #232F34,
//     "info": #4A6572,
// )

$theme-colors: (
    "primary": #344955,
    "danger": #F25652,
    "dark": #232F34,
    "info": #4A6572,
    "secondary": #F9AA33,
)