{% extends "users/base.html" %}
{% block meta_description %}This is the login page{% endblock %}
{% block title %}Application Name - Login{% endblock %}
{% block content %}
{% load static %}
    <main class="container h-100">
        <section class="row h-75 align-items-center justify-content-center">  
            <div class="col-12 text-center">
                <h1>FitLg</h1>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 bg-dark text-white shadow p-3">
                <div class="row">
                    <div class="col-12 border-bottom">
                        <h2>Connexion</h2>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 mt-3">
                        {% if messages %}
                            {% include 'messages.html' %}
                        {% endif %}
                    </div> 
                    <form class="col-12 mt-3" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ login_form.username.label }}
                            {{ login_form.username }}
                        </div>
                        <div class="form-group">
                            {{ login_form.password.label }}
                            {{ login_form.password }}
                            <a class="text-muted" href="{% url 'users:password_forgotten' %}">Mot de passe oublié?</a>
                        </div>
                        <button type="submit" class="btn btn-block btn-secondary text-light font-weight-bold">Se connecter</button>                 
                    </form>
                    <div class="w-100"></div>
                    <div class="col-12 text-center mt-5">
                        <p class="text-muted">Pas encore de compte?</p>
                        <a class="text-light" href="{% url 'users:register' %}">Créer un compte</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}