{% extends "users/base.html" %}
{% block meta_description %}This is the passsword reset page to indicate the mail{% endblock %}
{% block title %}Application Name - Reset Password{% endblock %}
{% block content %}
{% load static %}
<main class="container h-100">

    <section class="row h-75 align-items-center justify-content-center">
        <div class="col-12 text-center">
            <h1>FitLg</h1>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 bg-dark text-white rounded p-3">
            <div class="row">
                <div class="col-12 border-bottom">
                    <h2>Indiquez votre mail</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-12 mt-3">
                    {% if messages %}
                        {% include 'messages.html' %}
                    {% endif %}
                </div>
                <form class="col-12 mt-3" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ password_forgotten_form.mail.label }}
                        {{ password_forgotten_form.mail }}
                    </div>
                    <button type="submit" class="btn btn-block btn-secondary text-light font-weight-bold">Envoyer</button>                 
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}