{% extends "program_builder/base.html" %}
{% block meta_description %}Liste d'exercies{% endblock %}
{% block title %}FitLg - Exercices{% endblock %}
{% block content %}
{% load static %}
<div class="jumbotron jumbotron-fluid jumbotron-desktop-only bg-dark text-light">
    <div class="container">
        <h1>Entraînements</h1>
        <p class="lead">Retrouvez l'ensemble des entraînements que vous avez effectué.</p>
    </div>
</div>
<main class="container">
    <div class="row">
        <div class="col-12">
            {% if messages %}
                {% include 'messages.html' %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for training in trainings %}
            {% if training.performance_value and training.performance_value == training.exercise.pb %}
                <div class="col-12 my-2">
                    <div class="card bg-info shadow rounded-0 border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-10">
                                    <div class="row align-items-center">
                                        <h5 class="col-sm-12 col-md-4 card-subtitle text-light">{{ training.date.day }}/{{ training.date.month }}/{{ training.date.year }}</h5>
                                        <h5 class="col-sm-12 col-md-4 card-title text-white">{{ training.exercise.name|upper }}</h5>
                                        {% if training.performance_type == "duree" %}
                                            <h5 class="col-sm-12 col-md-4 card-title text-white">duree: {% if training.performance_value.pb.hour > 0 %}{{ training.performance_value.pb.hour }}:{% endif %}{{ training.performance_value.minute }}:{{ training.performance_value.second }}</h5>
                                        {% else %}
                                            <h5 class="col-sm-12 col-md-4 card-title text-white">tours: {{ training.performance_value }}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <h5 class="text-center"><i class="fas fa-medal fa-2x text-white"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif training.performance_value %}
                <div class="col-12 my-2">
                    <div class="card shadow rounded-0 border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-10">
                                    <div class="row align-items-center">
                                        <h5 class="col-sm-12 col-md-4 card-subtitle text-muted">{{ training.date.day }}/{{ training.date.month }}/{{ training.date.year }}</h5>
                                        <h5 class="col-sm-12 col-md-4 card-title text-primary">{{ training.exercise.name|upper }}</h5>
                                        {% if training.performance_type == "duree" %}
                                            <h5 class="col-sm-12 col-md-4 card-title text-primary">duree: {% if training.performance_value.hour > 0 %}{{ training.performance_value.hour }}:{% endif %}{{ training.performance_value.minute }}:{{ training.performance_value.second }}</h5>
                                        {% else %}
                                            <h5 class="col-sm-12 col-md-4 card-title text-primary">tours: {{ training.performance_value }}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <h5 class="text-center"><i class="fas fa-check fa-2x text-info"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if training.exercise.exercise_type == "STRENGTH" or training.exercise.exercise_type == "CONDITIONNING" or training.exercise.exercise_type == "WARMUP" %}
                <div class="col-12 my-2">
                    <div class="card shadow rounded-0 border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-10">
                                    <div class="row align-items-center">
                                        <h5 class="col-sm-12 col-md-4 card-subtitle text-muted">{{ training.date.day }}/{{ training.date.month }}/{{ training.date.year }}</h5>
                                        <h5 class="col-sm-12 col-md-4 card-title text-primary">{{ training.exercise.name|upper }}</h5>
                                        <h5 class="col-sm-12 col-md-4 card-title text-primary">PAS DE SCORE</h5>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <h5 class="text-center"><i class="fas fa-check fa-2x text-info"></i></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-12 my-2">
                    <div class="card shadow rounded-0 border-0">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-10">
                                    <div class="row align-items-center">
                                        <h5 class="col-sm-12 col-md-4 card-subtitle text-muted">{{ training.date.day }}/{{ training.date.month }}/{{ training.date.year }}</h5>
                                        <h5 class="col-sm-12 col-md-4 card-title">{{ training.exercise.name|upper }}</h5>
                                        <h5 class="col-sm-12 col-md-4 card-title text-secondary">Ajoute ton score</h5>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg btn-secondary rounded-circle text-white font-weight-bold shadow" data-toggle="modal" data-target="#performanceModal{{training.pk}}">
                                                +
                                        </button>
                                    </div>
                                    <div class="modal fade" id="performanceModal{{training.pk}}" tabindex="-1" role="dialog" aria-labelledby="performanceModal{{training.pk}}Label" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exerciseStartModalLabel">{{ training.exercise.name|upper }} - {{ training.date.day }}/{{ training.date.month }}/{{ training.date.year }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="" method="post" id="performanceModal{{training.pk}}Form">
                                                        {% csrf_token %}
                                                        <input type="text" name="training_pk" value="{{ training.id }}" hidden>
                                                        <div class="input-group">
                                                            {% if training.performance_type == "duree" %}
                                                                <input type="time" name="performance_value" class="form-control" step="1" placeholder="temps réalisé" aria-label="Votre score" aria-describedby="enregistrement du score" required>
                                                            {% else %}
                                                                <input type="text" name="performance_value" class="form-control" placeholder="nombre de tours" aria-label="Votre score" aria-describedby="enregistrement du score" required>
                                                            {%  endif %}
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary" type="submit">Enregistrer</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock %}